### Ada ###
# Object file
*.o

# Ada Library Information
*.ali

#para descartar todos los archivos
obj/*

#para no ignorar la carpeta así como el archivo .gitkeep pero si los demás 
#archivos, es decir las imágenes
!obj/.gitkeep
